.book {
    // height: 50rem; //TESTING
    background-image: linear-gradient(
        105deg,         
        rgba($color-white, .9) 0%,        
        rgba($color-white, .9) 50%,        
        transparent 50%),         
        url(../img/nat-10.jpg);
    
    background-size: 100%; // same as cover 
    box-shadow: 0 1.5rem 4rem rgba($color-black, .2);
    
    border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -ms-border-radius: 3px;
    -o-border-radius: 3px;
    
    @include respond(tab-land) {
        background-image: linear-gradient(
        105deg,         
        rgba($color-white, .9) 0%,        
        rgba($color-white, .9) 65%,        
        transparent 65%),         
        url(../img/nat-10.jpg);
        background-size: cover;
    }
    
    @include respond(tab-port) {
        background-image: linear-gradient(
        to right,         
        rgba($color-white, .9) 0%,        
        rgba($color-white, .9) 100%),         
        url(../img/nat-10.jpg);
    }

    &__form {
        width: 50%;
        padding: 6rem;

        @include respond(tab-land) {
            width: 65%;
        }

        @include respond(tab-port) {
            width: 100%;
        }
    }
}
