.card {

    // FUNCTIONALITY

    // The perspective property is always applied on the parent element with a really big value like 1500px. This property gives us a feel that the card is really rotating on the webpage.
    -webkit-perspective: 150rem;
    -moz-perspective: 150rem;
    -ms-perspective: 150rem;
    -o-perspective: 150rem;
    perspective: 150rem;
    
    position: relative;
    height: 52rem;

    &__side {
        height: 52rem;
        transition: all .8s ease;
        -webkit-transition: all .8s ease;
        -moz-transition: all .8s ease;
        -ms-transition: all .8s ease;
        -o-transition: all .8s ease;
        
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        
        // Using the property below, we can hide the backside of the card.
        backface-visibility: hidden;
        -webkit-backface-visibility: hidden;
        
        border-radius: 3px;
        -webkit-border-radius: 3px;
        -moz-border-radius: 3px;
        -ms-border-radius: 3px;
        -o-border-radius: 3px;

        // because the image on top of the card component (which is the parent component) is overflowing and therefore we need to hide the overflow at parent.
        overflow: hidden;   

        box-shadow: 0 1.5rem 4rem rgba($color-black, .15);

        &--front {
            background-color: $color-white;
        }

        &--back {
            transform: rotateY(180deg);
            -webkit-transform: rotateY(180deg);
            -moz-transform: rotateY(180deg);
            -ms-transform: rotateY(180deg);
            -o-transform: rotateY(180deg);

            &-1 {
                background-image: linear-gradient(to right bottom, $color-secondary-light, $color-secondary-dark);
            }
            
            &-2 {
                background-image: linear-gradient(to right bottom, $color-primary-light, $color-primary-dark);
            }
            
            &-3 {
                background-image: linear-gradient(to right bottom, $color-tertiary-light, $color-tertiary-dark);
            }
        }
    }
    
    &:hover &__side--front {
        transform: rotateY(-180deg);
        -webkit-transform: rotateY(-180deg);
        -moz-transform: rotateY(-180deg);
        -ms-transform: rotateY(-180deg);
        -o-transform: rotateY(-180deg);
    }
    
    &:hover &__side--back {
        transform: rotateY(0deg);
        -webkit-transform: rotateY(0deg);
        -moz-transform: rotateY(0deg);
        -ms-transform: rotateY(0deg);
        -o-transform: rotateY(0deg);
    }

    // FRONT SIDE STYLING
    &__picture {
        background-size: cover;
        height: 23rem;
        background-blend-mode: screen;
        
        @supports (-webkit-clip-path: polygon(0 0)) or (clip-path: polygon(0 0)) {
            -webkit-clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%);
            clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%);
        }

        &--1 {
            background-image: linear-gradient(to right bottom, $color-secondary-light, $color-secondary-dark), url(../img/nat-5.jpg);
        }

        &--2 {
            background-image: linear-gradient(to right bottom, $color-primary-light, $color-secondary-dark), url(../img/nat-6.jpg);
        }

        &--3 {
            background-image: linear-gradient(to right bottom, $color-tertiary-light, $color-tertiary-dark), url(../img/nat-7.jpg);
        }
    }


    &__heading {
        font-size: 2.8rem;
        font-weight: 300;
        text-transform: uppercase;
        color: $color-white;

        position: absolute;
        top: 12rem;
        right: 2rem;
        text-align: right;

        width: 75%;
    }

    &__heading-span {
        padding: 1rem 1.5rem;

        @supports (-webkit-box-decoration-break: clone) or (box-decoration-break: clone) {
            -webkit-box-decoration-break: clone;
            box-decoration-break: clone;
        }

        &--1 {
            background-image: linear-gradient(to right bottom, rgba($color-secondary-light, .8), rgba($color-secondary-dark, .8));
        }
        
        &--2 {
            background-image: linear-gradient(to right bottom, rgba($color-primary-light, .8), rgba($color-primary-dark, .8));
        }
        
        &--3 {
            background-image: linear-gradient(to right bottom, rgba($color-tertiary-light, .8), rgba($color-tertiary-dark, .8));
        }
    }

    &__details {
        padding: 3rem;

        ul {
            list-style: none;
            width: 80%;
            margin: 0 auto;

            li {
                text-align: center;
                font-size: 1.5rem;
                padding: 1rem;

                &:not(:last-child) {
                    border-bottom: 1px solid $color-grey-light-2;
                }
            }
        }
    }

    // BACK SIDE STYLING
    &__cta {
        width: 90%;
        position: absolute;
        text-align: center;
        @include center-element;    // check mixin
    }

    &__price-box {
        
        margin-bottom: 8rem;
        color: $color-white;
    }

    &__price-only {
        font-size: 1.4rem;
        text-transform: uppercase;
    }

    &__price-value { 
        font-size: 6rem;
        font-weight: 100;
    }


    // Media Query
    // @include respond(tab-port) 
    @media only screen and (max-width: 56.25em),
           only screen and (hover: none) {  // when we use a device which has no ability to hover, we apply the condition hover: none. Other option for hover is hover itself.
        height: auto;
        border-radius: 3px;
        background-color: $color-white;
        box-shadow: 0 1.5rem 4rem rgba($color-black, .15);

        &__side {
            height: auto;
            position: relative;
            box-shadow: none;
 
            &--back { 
                transform: rotateY(0deg); 
                clip-path: polygon(0 15%, 100% 0, 100% 100%, 0 100%);
            }
        }
        
        &:hover &__side--front { transform: rotateY(0deg); }

        &__details {
            padding: 1rem 3rem;
        }

        // BACK SIDE STYLING
        &__cta {
            position: relative;
            top: 0;
            left: 0;
            transform: translate(0); 
            width: 100%;
            padding: 7rem 4rem 4rem 4rem;
        }

        &__price-box {
            margin-bottom: 3rem;
        }

        &__price-value { 
            font-size: 5rem;
        }
    }
}